<div class="monster-details-container">
  <div class="left">
    <img [src]="monsterImgUrl" alt="">
    <h4>{{ userDetails.name }}</h4>
  </div>
  <div class="right">
    <div class="info">
      <h3>Basic Information</h3>
      <div class="info-data">
        <div class="data">
          <h5>Email</h5>
          <p>{{ userDetails.email | customeLowercase }}</p>
        </div>
        <div class="data">
          <h5>Phone</h5>
          <p>{{ userDetails.phone }}</p>
        </div>
      </div>
    </div>
    <div class="company">
      <h3>Company Information</h3>
      <div class="company-data">
        <div class="data">
          <h5>Name</h5>
          <p>{{ userDetails.company.name }}</p>
        </div>
        <div class="data">
          <h5>Domains</h5>
          <p>{{ userDetails.company.bs }}</p>
        </div>
      </div>
    </div>
  </div>
</div>