<div class="home-container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="filter-input-section">
        <form [formGroup]="filterForm">
          <input type="text" class="form-control" placeholder="Enter Monster Name" formControlName="filterText">
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="filtered-monsters-section">
        <app-monster-card *ngFor="let userData of filteredUserData" [userDetails]="userData" [routerLink]="['../details/' + userData.id]"></app-monster-card>
      </div>
    </div>
  </div>
</div>